.div-conatiner-about {
	background: linear-gradient(to bottom, #ecf7fc, #ffffff41);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.main-about-us-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	position: relative;
	top: 20vh;
}

.main-intro-about {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	gap: 25px;
	p {
		font-family: "Roboto Slab";
		font-size: calc(0.6vw + 0.6vh + 1vmin);
		padding: 0.3rem 1rem;
		background-color: rgb(125, 253, 93);
		color: #5e7561;
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.39) 0px 5px 50px;
	}
	h2 {
		font-family: "Source Serif 4";
		font-size: calc(1.4vw + 1.4vh + 1vmin);
		font-weight: 400;
		text-align: center;
	}
}

.middle-mission-div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 18px;
	height: 29vh;
	padding: 0vh 1vh;
	p {
		font-family: "Source Serif 4";
		font-size: calc(0.6vw + 0.6vh + 0.8vmin);
		font-weight: 400;
		text-align: center;
	}
}

.button-51 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	background-color: transparent;
	border: 1px solid #266db6;
	box-sizing: border-box;
	color: #5f92d0;
	font-family: "Roboto Slab", sans-serif;
	font-size: calc(0.5vw + 0.8vh + 0.5vmin);
	font-weight: 600;
	line-height: 2vh;
	padding: 16px 18px;
	position: relative;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	transition: all 0.6s;
}

.button-51:hover,
.button-51:active {
	outline: 0;
	color: #022c5d;
}

.button-51:hover {
	background-color: transparent;
	cursor: pointer;
}

.button-51:before {
	background-color: #6dcff6;
	content: "";
	height: calc(100% + 3px);
	position: absolute;
	right: -7px;
	top: -9px;
	transition: background-color 300ms ease-in;
	width: 100%;
	z-index: -1;
	transition: all 0.5s;
}

.button-51:hover:before {
	opacity: 0.8;
	box-shadow: rgba(0, 0, 0, 0.572) 0px 5px 50px;
}

@media (min-width: 768px) {
	.button-51 {
		padding: 16px 32px;
	}
}

.next-middle-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	padding: 0vh 1vw;
	p {
		text-align: left;
		font-family: "Source Serif 4";
		font-size: calc(0.6vw + 0.6vh + 0.7vmin);
		font-weight: 400;
		padding: 0rem 1rem;
	}
	h2 {
		color: rgb(255, 127, 131);
		text-align: left;
		font-family: "Source Serif 4";
		font-size: calc(1vw + 1vh + 0.8vmin);
		font-weight: 500;
		padding: 0rem 1rem;
	}
}

.last-main-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	padding: 0vh 1vw;
	p {
		text-align: left;
		font-family: "Source Serif 4";
		font-size: calc(0.6vw + 0.6vh + 0.7vmin);
		font-weight: 400;
		padding: 0rem 1rem;
	}
	h2 {
		color: rgb(255, 127, 246);
		text-align: left;
		font-family: "Source Serif 4";
		font-size: calc(1vw + 1vh + 0.8vmin);
		font-weight: 500;
		padding: 0rem 1rem;
	}
}

.end-image-div {
	position: relative;
	top: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 2rem 0rem;
	gap: 30px;
	h2 {
		background-color: #e6ffe6;
		width: 100%;
		text-align: center;
		border-radius: 50px;
		font-family: "Shadows Into Light";
		font-size: calc(1.3vw + 1.3vh + 1vmin);
		font-weight: 500;
		color: rgb(56, 73, 73);
		padding: 0rem 1rem;
		margin: 1rem 0rem;
	}
}

.image-conatin-div-about {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 18px;
}

.image-card {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 1.5rem;
	max-height: 52vh;
	aspect-ratio: 2/1;
	min-width: 25vw;
	border-radius: 20px;
	background-color: transparent;
	transition: all 0.6s;
	gap: 6px;
	img {
		border-radius: 20px;
		max-height: 52vh;
		object-fit: cover;
		max-width: 30vw;
		aspect-ratio: 1/1;
	}
	.name-class {
		font-family: "Shadows Into Light";
		font-size: calc(1.3vw + 1.3vh + 1vmin);
		font-weight: 500;
		padding: 0.8rem 0rem 1.2rem 0rem;
		opacity: 0;
		transform: translateY(-4rem);
		transition: all 0.8s;
		background-color: transparent;
	}

	&:hover {
		.name-class {
			opacity: 1;
			transform: translateY(0rem);
			display: flex;
		}

		box-shadow: rgba(51, 50, 50, 0.186) 0px -10px 50px 20px;
	}
}

@media (min-height: 660px) {
	.main-about-us-container {
		top: 7vh;
	}
	.end-image-div {
		top: 0vh;
	}
}
