.main-buy-page-main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}
.nonMain {
	transform: translateY(6%);
	margin: 2.4rem 0rem;
	display: flex;
	padding: 1.5rem;
	width: 100%;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	justify-content: center;
}
.title-buy-page {
	padding: 1rem;
	position: relative;
	top: 7rem;
	margin: 1rem 0rem;
	width: 100%;
	background: linear-gradient(
		to right,
		rgb(220, 238, 253),
		rgba(234, 255, 216, 0.304)
	);
	h1 {
		text-align: left;
		cursor: pointer;
		font-weight: 300;
		font-family: "Roboto Slab";
		font-size: calc(1.5vw + 1.5vh + 1.5vmin);
		padding: 0.5rem 3rem;
		border-radius: 100px;
		background: transparent;
	}
}
.title-your-product {
	padding: 1rem;
	position: relative;
	top: 7rem;
	margin: 1rem 2rem;
	width: 100vw;
	background: linear-gradient(
		to right,
		rgb(233, 253, 220),
		rgba(216, 246, 255, 0.304)
	);
	h1 {
		text-align: left;
		cursor: pointer;
		font-weight: 300;
		font-family: "Source Serif 4";
		font-size: calc(1.5vw + 1.5vh + 1.5vmin);
		padding: 0.5rem 3rem;
		border-radius: 100px;
		background: transparent;
	}
}
.productCard {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 2vw;
	max-height: 40vh;
	aspect-ratio: 2/1;
	min-width: 25vw;
	border-radius: 20px;
	background-color: transparent;
	transition: all 0.6s;
	gap: 6px;
	border: 2px solid rgba(208, 226, 247, 0.761);
	&:hover {
		box-shadow: rgba(51, 50, 50, 0.186) 0px -10px 50px 20px;
	}
	&:active {
		transform: translateY(4px);
		box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
	}
	img {
		border-radius: 20px;
		padding: 1rem;
		max-height: 40vh;
		object-fit: contain;
		min-width: 30vw;
		aspect-ratio: 1/1;
		&:hover {
			transform: scale(1.03);
		}
	}
}

.inner-productCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px 0px 0px 10px;
	gap: 4px;
	padding: 0.5vh;
	> p {
		font-family: "Source Serif 4";
		font-size: calc(0.8vw + 0.6vh + 1vmin);
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.8s;
		background-color: transparent;
	}
	> h4 {
		font-family: "Shadows Into Light";
		font-size: calc(0.7vw + 0.4vh + 0.8vmin);
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.4vh 0.6vw;
		text-align: center;
		transition: all 0.8s;
		background-color: transparent;
		> span {
			padding: 0rem;
			font-size: 8px;
		}
	}
}

.nothing-to-dis {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 10vh;
	min-height: 47vh;
}

.video {
	max-width: 60vw;
	aspect-ratio: 1/1.03;
	object-fit: contain;
	outline: none;
	border: none;
}

.delete-btn {
	position: absolute;
	right: 0.5vw;
	top: 1vh;
	padding: 5px;
	cursor: pointer;
	color: red;
	font-size: calc(1.3vw + 1.3vh + 1vmin);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.6s;
	svg {
		object-fit: contain;
		aspect-ratio: 1/1;
	}
	&:hover {
		opacity: 0.8;
	}
	&:active {
		transform: translateY(3px);
		opacity: 1;
	}
}

@media (min-height: 660px) {
	.nothing-to-dis {
		top: 15vh;
	}
}
