.buysell-scroller ::-webkit-scrollbar {
	display: none;
}
.main-buysell-container-div {
	width: 100%;
	min-height: calc(100vh - 10px);
}
.main-div-buysell {
	top: 18vh;
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
	flex-wrap: wrap;
}

.left-buysell-div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	flex-direction: column;
	padding: 1rem;
	h2 {
		margin: 0.5rem 0.5rem 0.5rem 1.6rem;
		font: 300 1.3rem "Anta";
		text-align: center;
	}
	.p-present {
		p {
			border-radius: 10px;
			border: 1px solid rgb(67, 66, 66);
			color: #363637;
			font: 800 0.8rem "Shadows Into Light";
			text-transform: uppercase;
			padding: 0.2rem 1rem;
		}
	}
}

.right-buysell-div {
	max-width: 45vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	img {
		width: 100%;
		background: transparent;
		border-radius: 20px;
		cursor: pointer;
		transition: all 0.7s;
		box-shadow: rgba(0, 0, 0, 0.56) -20px -20px 60px 2px;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.56) -20px -30px 50px 2px;
			transform: translateY(-6px);
		}
	}
}

.buy-sell-btn-div {
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.button-52 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 13px 20px 13px;
	outline: 0;
	font-family: "Roboto";
	border: 1px solid black;
	cursor: pointer;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 3.6px;
	}
	&:active {
		transform: translate(4px, 4px);
		box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3.6px;
	}
}

.button-52:after {
	content: "";
	background-color: #ffe54c;
	width: 100%;
	z-index: -1;
	position: absolute;
	height: 100%;
	top: 7px;
	left: 7px;
	transition: 0.2s;
}

.button-52:hover:after {
	top: 0px;
	left: 0px;
}

@media (min-width: 768px) {
	.button-52 {
		padding: 13px 50px 13px;
	}
}

.button-53 {
	background-color: #3dd1e7;
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
	color: #000000;
	display: flex;
	font-family: "Anta";
	font-size: 1rem;
	font-weight: 500;
	justify-content: center;
	line-height: 1.75rem;
	padding: 0.75rem 1.65rem;
	position: relative;
	text-align: center;
	text-decoration: none #000000 solid;
	text-decoration-thickness: auto;
	position: relative;
	cursor: pointer;
	transform: rotate(-2deg);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.15) -5px 5px 3.6px;
	}
	&:active {
		transform: translate(-4px, 4px) rotate(-2deg);
		box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3.6px;
	}
}

.button-53:focus {
	outline: 0;
}

.button-53:after {
	content: "";
	position: absolute;
	border: 1px solid #000000;
	bottom: 4px;
	left: 4px;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
}

.button-53:hover:after {
	bottom: 2px;
	left: 2px;
}

@media (min-width: 768px) {
	.button-53 {
		padding: 0.75rem 3rem;
		font-size: 1.25rem;
	}
}

/* Not Login CSS */
.main-conatiner-not-login {
	min-height: calc(100vh - 10px);
	width: 100%;
}

.main-not-login-div {
	position: relative;
	top: 22vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}

.login-to-see {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	border-top: 1px solid rgb(246, 208, 158);
	padding: 0.3rem 1rem;
	h1 {
		font-size: 1.3rem;
		text-transform: uppercase;
		font-weight: 300;
		font-family: "Roboto Slab";
		color: #fa8f15a6;
	}
}
.image-not-login-div {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	.button-for-login-page {
		width: 45%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	img {
		padding: 1rem;
		max-width: 400px;
		aspect-ratio: 1/.9;
	}
}

.button-57 {
	position: relative;
	overflow: hidden;
	border: 1px solid #18181a;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #18181a;
	font-size: 15px;
	padding: 1rem 5rem;
	text-decoration: none;
	cursor: pointer;
	background: #fff;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-57 span:first-child {
	position: relative;
	transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 10;
}

.button-57 span:last-child {
	color: white;
	display: block;
	position: absolute;
	bottom: 0;
	transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 100;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translateY(225%) translateX(-20%);
	height: 18px;
}

.button-57:after {
	content: "";
	position: absolute;
	bottom: -50%;
	width: 101%;
	height: 100%;
	background-color: black;
	transform-origin: bottom center;
	transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
	transform: skewY(9.3deg) scaleY(0);
	z-index: 50;
}

.button-57:hover:after {
	transform-origin: bottom center;
	transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
	transform: translateX(-50%) translateY(-100%);
	opacity: 1;
	transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

@media (max-width : 600px){
	.right-buysell-div {
	max-width: 80vw;
}
}
@media (max-width: 480px) {
	.left-buysell-div {
		gap: 10px;
		h1 {
			transform: scale(0.45);
			height: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 180%;
		}
		h2 {
			font: 300 1rem "Anta";
		}
	}
}
