.main-club-info-div {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
}

.club-name-div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1rem 2rem;
	margin: 1rem 0rem;
	img {
		margin-top: 3rem;
		border-radius: 20px;
		max-height: 200px;
		padding: 0.5rem;
	}
	h1 {
		border: 1px solid rgba(121, 166, 250, 0.528);
		padding: 0.5rem 3rem;
		margin-top: 1rem;
		text-transform: uppercase;
		font-family: "Roboto";
		font-size: calc(1vw + 1vh + 1vmin);
		font-weight: 400;
		color: rgb(55, 62, 57);
	}
}

.club-info-div {
	border: 1px solid black;
	display: flex;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	padding: 1.5rem;
	color: #57696e;
	p {
		font-family: "Roboto";
		font-size: calc(0.6vw + 0.6vh + 1vmin);
	}
	a {
		color: #57696e;
	}
}
