.main-contact-container {
	height: 100vh;
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
	position: relative;
	justify-content: space-evenly;
	top: 18vh;
}

.left-contact-main-div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	p {
		background: linear-gradient(180deg, #f2f5fd 0%, #e3eafc 100%);
		font-family: "Roboto";
		font-size: calc(0.6vw + 0.6vh + 0.5vmin);
		margin: 0.4rem;
		border: 1px solid rgba(172, 255, 47, 0.453);
		border-radius: 5px;
		padding: 0.4rem 1rem;
		color: #525255;
	}
	h2 {
		font-family: "Source Serif 4";
		font-size: calc(1.1vw + 1.1vh + 1vmin);
		margin: 0.4rem;
		font-weight: 500;
	}
}
.right-contact-main-div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}
.contact-form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-inputContainer {
	position: relative;
	height: 120px;
	width: 100%;
	margin-bottom: 1.5rem;
	> textarea {
		resize: none;
		padding: 0.8rem;
		text-align: justify;
	}
}

.end-div-greet {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 1rem 0rem;
	background: linear-gradient(90deg, #f4fdf2 0%, #e3fce8 100%);
	padding: 0.4rem 1rem;
	border-radius: 4px;
	p {
		font-family: "Roboto";
		font-size: calc(0.5vw + 0.5vh + 0.5vmin);
		color: gray;
	}
}

.button-89 {
	--b: 3px;
	--s: 0.45em;
	--color: #101011;
	padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
	color: var(--color);
	--_p: var(--s);
	background: conic-gradient(
			from 90deg at var(--b) var(--b),
			#0000 90deg,
			var(--color) 0
		)
		var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
		calc(100% - var(--b) - 2 * var(--_p));
	transition: 0.3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: 0.6em;
	font-size: 16px;
	border: 0;
	width: 100%;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	font-family: "Roboto Slab";
	cursor: pointer;
	transition: all 0.6s;
}

.button-89:hover,
.button-89:focus-visible {
	--_p: 0px;
	outline-color: var(--color);
	outline-offset: 0.05em;
}

.button-89:active {
	background: var(--color);
	color: #fff;
}
