.main-conatiner-event-display-div {
	height: 100vh;
}
.main-event-div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 2rem 0rem;
	width: 100%;
	position: relative;
	top: 9vh;
	.left-image-container {
		padding: 1rem;
		max-width: 300px;
		min-height: 200px;
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.right-event-info {
		
		position: relative;
		top: 6vh;
		color: #66745a;
		border: 1px solid black;
		gap: 0.8rem;
		display: flex;
		padding: 2rem 2.5rem;
		margin: 1rem;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		border-radius:20px;
		min-width: 90vw;
		.address-div-event {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			gap: 5px;
			h3,
			p {
				font-family: "Roboto Slab";
			}
		}
		.desciption-event-div {
			display: flex;
			align-items: start;
			justify-content: center;
			flex-direction: column;
			gap: 1rem;
			h3 {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				font-family: "Roboto Slab";
			}
			p {
				font-family: "Roboto Slab";
			}
			a {
				color: #5e7059;
			}
		}
	}
}

.event-image-div {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 40px;
	transition: all 0.5s;
	img {
		object-fit: contain;
		width: 100%;
		max-height: 300px;
		&:hover {
			transform: scale(1.03);
		}
	}
}
.top-event-name {
	width: 100%;
	position: relative;
	top: 110px;
	height: 16vh;
	background-color: rgba(182, 213, 244, 0.465);
	color: #322d2d97;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: calc(0.8vw + 0.8vh + 0.5vmin);
	h1,
	p {
		font-weight: 300;
		font-family: "Roboto Slab";
		padding: 0.2rem;
	}
}

.empty-space-div {
	height: 10px;
	position: relative;
	bottom: -20vh;
}
