.main-home-conatiner {
	width: 100%;
	min-height: calc(100vh - 10px);
	position: relative;
	top: 5vh;
	overflow: hidden;
}
.background {
	position: relative;
	top: 3vh;
	display: flex;
	align-items: center;
}
.community {
	position: relative;
	left: 1em;
	top: -1rem;
	color: #000000;
	font-size: calc(1.4vw + 1.4vh + 1.2vmin);
	font-family: "Source Serif 4", serif;
	font-weight: 400;
	text-align: center;
	align-items: center;
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	flex-direction: column;
	p {
		font-size: calc(0.5vw + 0.5vh + 0.7vmin);
		border: 1.5px solid rgb(252, 227, 194);
		box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 90px;
		padding: 0.4rem 0rem;
		font-family: "Shadows Into Light";
		border-radius: 10px;
		width: 50%;
		margin: 1rem 0rem;
	}
}
.type-speed {
	font-size: calc(1.2vw + 1.2vh + 1vmin);
	font-weight: 300;
	color: rgb(53, 247, 53);
	text-transform: lowercase;
	height: 5vh;
}

.cloud {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	video {
		width: 100%;
		object-fit: contain;
		aspect-ratio: 1/1;
		source {
			width: 100%;
			object-fit: contain;
		}
	}
}
.page-2-home-div {
	height: 100vh;
}
.event-announcement {
	display: flex;
	justify-content: center;
	padding: 1rem 1rem;
}

.card-slider {
	min-height: 60vh;
	aspect-ratio: 2/1;
	position: relative;
	width: 83vw;
}

.inside-event-ann {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 28vh;
	p {
		font-size: calc(2.2vw + 2.2vh + 2vmin);
		font-family: "Roboto", cursive;
		font-weight: 300;
		color: #f85b43;
	}
}

.card-event {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.8rem 0.3rem;
	margin: 1rem;
	max-height: 60vh;
	aspect-ratio: 1/1;
	width: 80vw;
	border-radius: 20px;
	background-color: #f4ebf3;
	transition: all 0.4s;
	overflow: auto;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.205) 0px 3px 20px;
	}
	&:active {
		transform: translateY(4px);
		box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
	}
}

.card-event::-webkit-scrollbar {
	display: none;
}
.container-event {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	> img {
		width: 25vw;
		aspect-ratio: 1/1;
		border-radius: 10px;
	}
}
.complete-event-info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	gap: 1vh;
	> p {
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0.3rem;
		font-size: calc(0.8vw + 0.8vh + 0.5vmin);
		font-weight: 300;
		font-family: "Source Serif 4";
	}
}

.see-details-btn {
	padding: 1vw 2vw;
	border-radius: 50px;
	cursor: pointer;
	border: 1px solid black;
}

.name-of-event-h2 {
	text-align: center;
	margin: 0.2rem;
	font-size: calc(1.8vw + 1.8vh + 1.2vmin);
	font-weight: 400;
	font-family: "Source Serif 4";
}

.page-3-main-div {
	position: relative;
}

.background-page3 {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: transparent;
}

.club-head {
	position: relative;
	font-size: calc(2vw + 2vh + 2vmin);
	font-family: "Source Serif 4";
	font-weight: 400;
	color: rgb(243, 202, 176);
	margin: 1rem 1rem;
}

.club-logo-conatiner {
	display: flex;
	justify-content: center;
	height: 60vh;
	align-items: center;
}

.logo-card-club {
	cursor: pointer;
	max-height: 20vh;
	padding: 0.1rem;
	aspect-ratio: 1.5/1;
	margin: 20px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: all 0.4s;
	> img {
		object-fit: contain;
		height: 50%;
		width: 50%;
		background-color: transparent;
	}
	> p {
		font-family: "Roboto Slab";
		font-weight: 500;
		font-size: calc(0.8vw + 0.8vh + 0.5vmin);
	}
	&:hover {
		transform: scale(1.06);
	}
}
.logo-card-club-black {
	cursor: pointer;
	height: 30vh;
	padding: 0.1rem;
	aspect-ratio: 1/1;
	background-color: #000000;
	color: #fff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: all 0.4s;
	> img {
		object-fit: contain;
		height: 50%;
		width: 50%;
		background-color: transparent;
	}
	> p {
		font-family: "Roboto Slab";
		font-weight: 500;
		font-size: calc(0.8vw + 0.8vh + 0.5vmin);
	}
	&:hover {
		transform: scale(1.06);
	}
}

.delete-btn-event {
	position: absolute;
	right: 0.5vw;
	top: 1vh;
	padding: 5px;
	cursor: pointer;
	color: red;
	font-size: calc(1.3vw + 1.3vh + 1vmin);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.6s;
	svg {
		object-fit: contain;
		aspect-ratio: 1/1;
	}
	&:hover {
		opacity: 0.8;
	}
	&:active {
		transform: translateY(3px);
		opacity: 1;
	}
}

.third-page-div {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	padding: 2rem 1rem;
	top: -0.8em;
}

.main-div-third-page {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	p {
		text-transform: uppercase;
		border: 1px solid rgba(160, 156, 156, 0.529);
		background: linear-gradient(72deg, #f8d5d0 0%, #f5c9ef 100%);
		padding: 0.5rem 2rem;
		margin-top: 4px;
		margin-bottom: 4px;
		margin: 6px;
		text-align: center;
		font-weight: 300;
		font-family: "Roboto Slab";
		font-size: calc(0.6vw + 0.6vh + 0.5vmin);
		border-radius: 5px;
	}
}

.button-55 {
	align-self: center;
	background-color: #fff;
	background-image: none;
	background-position: 0 90%;
	background-repeat: repeat no-repeat;
	background-size: 4px 3px;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
	border-width: 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
	box-sizing: border-box;
	color: #41403e;
	cursor: pointer;
	display: inline-block;
	font-family: "Source Serif 4", sans-serif;
	font-size: calc(1vw + 1vh + 0.5vmin);
	line-height: 15px;
	outline: none;
	padding: 0.75rem;
	text-decoration: none;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-55:hover {
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
	transform: translate3d(0, 2px, 0);
}

.button-55:focus {
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.main-container-for-page-4 {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

.page-4-title {
	font-size: calc(2.5vw + 2.5vh + 2vmin);
	font-family: "Source Serif 4";
	font-weight: 400;
	color: rgb(64, 172, 244);
	padding: 0vh 0.5vh;
}

.page-4-2-title {
	font-size: calc(1.4vw + 1.4vh + 0.8vmin);
	font-family: "Roboto Slab";
	font-weight: 300;
	color: rgb(8, 72, 94);
	padding: 0.2vh 5vh;
	border-radius: 50px;
	border: 1px solid rgb(157, 247, 49);
	box-shadow: #3b3b3b63 0px 5px 50px;
}

.page-4-3-info {
	font-size: calc(0.9vw + 0.9vh + 0.8vmin);
	font-family: "Roboto Slab";
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 1rem 2rem;
	padding: 1vw;
	font-weight: 400;
	color: rgb(0, 0, 0);
	text-shadow: #fc0 1px 0px 40px;
}

.img-page-4 {
	position: relative;
	top: -10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 100%;
		object-fit: cover;
	}
}

.main-page-5-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	flex-direction: column;
}

.upper-main-container-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90.8%;
	flex-wrap: wrap-reverse;
}
.lower-dicussion-conatiner-div-main {
	display: flex;
	width: 90%;
	overflow: auto;
}

.left-main-div-page-5 {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin: 1vw 0.5vw;
	width: 100%;
}

.main-upper-div-page-5 {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	min-width: 100%;
	background-color: #effbec;
	border-radius: 10px;
	padding: 1em;
	max-height: 30vh;
	h3 {
		display: flex;
		align-items: center;
		justify-content: start;
		width: 89%;
		gap: 4px;
		font-size: calc(1vw + 1vh + 0.6vmin);
		font-family: "Source Serif 4";
		font-weight: 400;
		color: #000000;
	}
}

.button-27 {
	appearance: none;
	background-color: #000000;
	border: 2px solid #1a1a1a;
	border-radius: 50px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Roboto Slab";
	font-size: calc(0.6vw + 0.6vh + 0.6vmin);
	font-weight: 500;
	line-height: normal;
	margin: 0;
	min-height: 40px;
	min-width: 0;
	outline: none;
	padding: 1vh 4vh;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: transform;
}

.button-27:disabled {
	pointer-events: none;
}

.button-27:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

.button-27:active {
	box-shadow: none;
	transform: translateY(0);
}

.input-new-discuss {
	resize: none;
	padding: 1rem;
	text-align: justify;
	font-family: "Roboto Slab";
	width: 90%;
	height: 14vh;
	border-radius: 6px;
	border-style: none;
	border-color: Transparent;
	overflow: auto;
}

.main-lower-div-page-5 {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	background-color: #fafbec;
	width: 100%;
	border-radius: 10px;
	padding: 1.4em 1em;
	overflow: auto;
}

.main-discuss-info-div {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 85vh;
	gap: 16px;
	width: 100%;
}
.main-container-for-post {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 8px;
	background-color: #f1f6f0;
	width: 98%;
	box-shadow: #39383824 0px 0px 10px;
	border-radius: 10px;
	padding: 1em;
	position: relative;
}

.uploader-info-div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	img {
		aspect-ratio: 1/1;
		object-fit: contain;
		background-color: #000000;
		width: 40px;
		border-radius: 50%;
	}
	svg {
		font-size: calc(1.2vw + 1.2vh + 1vmin);
	}
}

.lower-uploader-like-reply-div {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	gap: 20px;
}

.like-div {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s;
	gap: 4px;
	p {
		position: relative;
		top: 1.2px;
	}
	&:hover {
		transform: translateY(-2px);
	}
	&:active {
		transform: scale(2);
	}
}

.reply-div {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s;
	gap: 4px;
	&:hover {
		transform: translateY(-2px);
	}
	&:active {
		transform: scale(1.3);
		transform: translateY(0px);
	}
}

.uploader-inner-info-div {
	display: flex;
	align-items: start;
	flex-direction: column;
	h3 {
		font-size: calc(0.8vw + 0.8vh + 0.5vmin);
		font-family: "Source Serif 4";
		font-weight: 400;
	}
	p {
		font-size: calc(0.5vw + 0.5vh + 0.5vmin);
		font-family: "Roboto";
		color: #686866;
	}
}

.uploader-message-div {
	width: 100%;
	display: flex;
	align-items: center;
	h2 {
		font-size: calc(1vw + 1vh + 0.6vmin);
		font-family: "Source Serif 4";
		font-weight: 400;
	}
}
.no-discussion-available {
	font-size: calc(1.4vw + 1.4vh + 1vmin);
	font-family: "Roboto Slab";
	color: #4f4d5154;
}

.right-main-div-page-5 {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 1vw 0.5vw;
}

.new-conversation-main-div {
	display: flex;
	background-color: rgba(249, 182, 106, 0.339);
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	cursor: pointer;
	width: 100%;
	transition: all 0.4s;
	p {
		margin: 0.6vw;
		font-size: calc(0.6vw + 0.6vh + 0.6vmin);
		font-family: "Shadows Into Light";
		color: rgb(247, 149, 38);
		font-weight: 550;
		text-align: center;
	}
	&:hover {
		transform: scale(1.03);
	}
}
.main-reply-container-div {
	display: flex;
	width: 80%;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	padding: 1em 0.3em;
}
.main-reply-input-take-div {
	display: flex;
	width: 97%;
	align-items: center;
	gap: 20px;
}

.no-reply-div {
	font-size: calc(0.6vw + 0.6vh + 0.8vmin);
	font-family: "Shadows Into Light";
	margin: 0.6em 0.3em;
	text-align: start;
	width: 95%;
}

.reply-contain-div {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.checkbox-wrapper-50 *,
.checkbox-wrapper-50 *::before,
.checkbox-wrapper-50 *::after {
	box-sizing: border-box;
}

.checkbox-wrapper-50 .plus-minus {
	--primary: rgb(249, 168, 76);
	--secondary: #ffffff;
	--duration: 0.5s;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	mask-image: none;
	outline: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transform-style: preserve-3d;
	perspective: 240px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	border: 4px solid var(--primary);
	background-size: 300% 300%;
	transition: transform 0.3s;
	transform: scale(var(--scale, 1)) translateZ(0);
	-webkit-animation: var(--name, unchecked-50) var(--duration) ease forwards;
	animation: var(--name, unchecked-50) var(--duration) ease forwards;
	margin: 1rem;
}
.checkbox-wrapper-50 .plus-minus::before,
.checkbox-wrapper-50 .plus-minus::after {
	content: "";
	position: absolute;
	width: 16px;
	height: var(--height, 16px);
	left: 6px;
	top: var(--top, 6px);
	background: var(--background, var(--primary));
	-webkit-animation: var(--name-icon-b, var(--name-icon, unchecked-icon-50))
		var(--duration) ease forwards;
	animation: var(--name-icon-b, var(--name-icon, unchecked-icon-50))
		var(--duration) ease forwards;
}
.checkbox-wrapper-50 .plus-minus::before {
	-webkit-clip-path: polygon(
		0 6px,
		6px 6px,
		6px 0,
		10px 0,
		10px 6px,
		16px 6px,
		16px 10px,
		10px 10px,
		10px 16px,
		6px 16px,
		6px 10px,
		0 10px
	);
	clip-path: polygon(
		0 6px,
		6px 6px,
		6px 0,
		10px 0,
		10px 6px,
		16px 6px,
		16px 10px,
		10px 10px,
		10px 16px,
		6px 16px,
		6px 10px,
		0 10px
	);
}
.checkbox-wrapper-50 .plus-minus::after {
	--height: 4px;
	--top: 12px;
	--background: var(--secondary);
	--name-icon-b: var(--name-icon-a, checked-icon-50);
}
.checkbox-wrapper-50 .plus-minus:active {
	--scale: 0.95;
}
.checkbox-wrapper-50 .plus-minus:checked {
	--name: checked-50;
	--name-icon-b: checked-icon-50;
	--name-icon-a: unchecked-icon-50;
}

@-webkit-keyframes checked-icon-50 {
	from {
		transform: translateZ(12px);
	}
	to {
		transform: translateX(16px) rotateY(90deg) translateZ(12px);
	}
}

@keyframes checked-icon-50 {
	from {
		transform: translateZ(12px);
	}
	to {
		transform: translateX(16px) rotateY(90deg) translateZ(12px);
	}
}
@-webkit-keyframes unchecked-icon-50 {
	from {
		transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
	}
	to {
		transform: translateZ(12px);
	}
}
@keyframes unchecked-icon-50 {
	from {
		transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
	}
	to {
		transform: translateZ(12px);
	}
}
@-webkit-keyframes checked-50 {
	from {
		background-image: radial-gradient(
			ellipse at center,
			var(--primary) 0%,
			var(--primary) 25%,
			var(--secondary) 25.1%,
			var(--secondary) 100%
		);
		background-position: 100% 50%;
	}
	to {
		background-image: radial-gradient(
			ellipse at center,
			var(--primary) 0%,
			var(--primary) 25%,
			var(--secondary) 25.1%,
			var(--secondary) 100%
		);
		background-position: 50% 50%;
	}
}
@keyframes checked-50 {
	from {
		background-image: radial-gradient(
			ellipse at center,
			var(--primary) 0%,
			var(--primary) 25%,
			var(--secondary) 25.1%,
			var(--secondary) 100%
		);
		background-position: 100% 50%;
	}
	to {
		background-image: radial-gradient(
			ellipse at center,
			var(--primary) 0%,
			var(--primary) 25%,
			var(--secondary) 25.1%,
			var(--secondary) 100%
		);
		background-position: 50% 50%;
	}
}
@-webkit-keyframes unchecked-50 {
	from {
		background-image: radial-gradient(
			ellipse at center,
			var(--secondary) 0%,
			var(--secondary) 25%,
			var(--primary) 25.1%,
			var(--primary) 100%
		);
		background-position: 100% 50%;
	}
	to {
		background-image: radial-gradient(
			ellipse at center,
			var(--secondary) 0%,
			var(--secondary) 25%,
			var(--primary) 25.1%,
			var(--primary) 100%
		);
		background-position: 50% 50%;
	}
}
@keyframes unchecked-50 {
	from {
		background-image: radial-gradient(
			ellipse at center,
			var(--secondary) 0%,
			var(--secondary) 25%,
			var(--primary) 25.1%,
			var(--primary) 100%
		);
		background-position: 100% 50%;
	}
	to {
		background-image: radial-gradient(
			ellipse at center,
			var(--secondary) 0%,
			var(--secondary) 25%,
			var(--primary) 25.1%,
			var(--primary) 100%
		);
		background-position: 50% 50%;
	}
}

.academic-calendar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	iframe {
		border: none;
		height: 40vh;
		aspect-ratio: 1/1;
	}
}

@media (max-width: 700px) {
	.background {
		flex-direction: column;
		top: 4.9em;
	}
	.community {
		font-size: calc(1.4vw + 1.4vh + 1.3vmin);
		left: 0.3em;
		padding: 0px 8px;
	}
	.card-slider {
		width: 72vw;
	}
	.card-event {
		width: 65vw;
	}
	.container-event {
		flex-direction: column;
		justify-content: center;
	}
	.academic-calendar {
		iframe {
			border: none;
			aspect-ratio: 1/1;
		}
	}
	.home-announcement-view-div {
		top: 4.9rem;
	}
}
