.background-for-product {
	width: 100%;
	height: 100vh;
}

.main-display-page-product-div {
	width: 100%;
	display: flex;
	gap: 30px;
	align-items: center;
	top: 18vh;
	position: relative;
}
.upper-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 1rem;
	border-radius: 10px;
	width: 50vw;
	.about-prod-image {
		cursor: pointer;
		height: 325px;
		max-width: 300px;
		margin: 1rem;
		overflow: hidden;
	}

	.about-prod-info {
		margin: 1rem;
		text-align: center;
		border: 1px solid black;
		padding: 2vh 3vw;
		border-radius: 10px;
	}
	.heading-item {
		color: #343435;
		font-family: "Roboto", sans-serif;
		font-size: calc(1vw + 1vh + 0.8vmin);
		padding: 0.3rem 0.6rem;
		font-weight: 400;
		border-radius: 5px;
	}
}
.card-slider-image {
	height: 100vh;
	width: 100%;
}
.image-div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.8rem 1rem 0rem;
	> img {
		aspect-ratio: 1/1;
		width: 100%;
		object-fit: contain;
		&:hover {
			transform: scale(1.05);
		}
	}
}
.middle-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 50vw;
	padding: 0.4vh 1rem;
	.about-prod-desc-info {
		box-shadow: rgba(99, 99, 99, 0.215) 14px 16px 30px 0px;
		margin: 0.4vw;
		padding: 2vh 3vw;
		border-radius: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 25px;
		border: 1px solid rgba(35, 42, 41, 0.32);
		width: 100%;
		color: #465156;
		.information-div-main {
			display: flex;
			justify-content: space-around;
			width: 100%;
			gap: 20px;
			.product-info-div {
				text-align: center;
				width: 60%;
				gap: 10px;
				display: flex;
				flex-direction: column;
			}
			.seller-info-div {
				text-align: center;
				text-align: center;
				gap: 10px;
				width: 40%;
				display: flex;
				flex-direction: column;
			}
		}
		.price-tag {
			text-align: center;
			border: 1px solid #283ff1;
			padding: 0.3rem 0.6rem;
			border-radius: 10px;
			font-size: calc(0.8vw + 0.6vh + 0.8vmin);
		}
	}

	.p-div {
		font-weight: 500;
		font-size: calc(0.6vw + 0.6vh + 0.8vmin);
		text-align: center;
		font-family: "Roboto";
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0.3vh 0.5vw;
		gap: 10px;
		b {
			font-size: calc(0.6vw + 0.6vh + 0.8vmin);
			font-family: "Roboto";
		}
	}
	.p-div-info {
		font-weight: 500;
		font-size: calc(0.6vw + 0.6vh + 0.8vmin);
		text-align: center;
		font-family: "Roboto";
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 200px;
		gap: 2px;
		padding: 0.3vh 0.5vw;
		overflow: auto;
		b {
			font-size: calc(0.6vw + 0.6vh + 0.8vmin);
			font-family: "Roboto";
		}
	}

	.h2-title-div {
		font-size: calc(0.8vw + 0.8vh + 0.8vmin);
		font-family: "Roboto";
		font-weight: 500;
	}
	.user-mail-input {
		border: 2px solid rgb(251, 211, 157);
		font-size: calc(0.6vw + 0.7vh + 0.8vmin);
		padding: 0.2vh 0.2vh;
		border-radius: 4px;
		width: 18vh;
		font-family: "Roboto";
	}
}

.button-54 {
	max-width: 300px;
	letter-spacing: 2px;
	cursor: pointer;
	padding: 0.5em 0.5em;
	position: relative;
	user-select: none;
	border-radius: 5px;
	transition: all 0.6s;
	font-size: calc(1vw + 1vh + 1vmin);
	text-align: center;
	font-family: "Roboto", sans-serif;
}


@media (min-width: 768px) {
	.button-54 {
		padding: 0.25em 0.75em;
	}
}

.button-30 {
	align-items: center;
	appearance: none;
	background-color: #e4f1f9;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395a;
	cursor: pointer;
	display: inline-flex;
	font-family: "Roboto", monospace;
	height: 6vh;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 3.5vw;
	padding-right: 3.5vw;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: calc(0.7vw + 0.7vh + 0.8vmin);
}

.button-30:focus {
	box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	transform: translateY(-2px);
}

.button-30:active {
	box-shadow: #d6d6e7 0 3px 7px inset;
	transform: translateY(2px);
}

@media (max-width: 740px) {
	.main-display-page-product-div {
		flex-direction: column;
		top: 14vh;
	}
	.middle-div {
		width: 100vw;
	}
	.upper-div {
		width: 100vw;
	}
}
