.background-for-product {
	width: 100%;
	height: 100vh;
}

.main-display-page-product-div {
	width: 100%;
	display: flex;
	gap: 30px;
	align-items: center;
	top: 18vh;
	position: relative;
}
.upper-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 1rem;
	border-radius: 10px;
	width: 50vw;
	.about-prod-image {
		cursor: pointer;
		height: 325px;
		max-width: 300px;
		margin: 1rem;
		overflow: hidden;
	}

	.about-prod-info {
		margin: 1rem;
		text-align: center;
		background-color: #fff4daaa;
		padding: 2vh 3vw;
		border-radius: 10px;
		box-shadow: rgba(99, 99, 99, 0.382) 0px 2px 20px 0px;
	}
	.heading-item {
		color: #f98686;
		font-family: "Source Serif 4", sans-serif;
		font-size: calc(1vw + 1vh + 0.8vmin);
		padding: 0.3rem 0.6rem;
		font-weight: 400;
		border-radius: 10px;
	}
}
.card-slider-image {
	height: 100vh;
	width: 100%;
}
.image-div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.8rem 1rem 0rem;
	> img {
		aspect-ratio: 1/1;
		width: 100%;
		object-fit: contain;
		&:hover {
			transform: scale(1.05);
		}
	}
}
.middle-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 50vw;
	padding: 0.4vh 1rem;
	.about-prod-desc-info {
		box-shadow: rgba(99, 99, 99, 0.215) 14px 16px 30px 0px;
		margin: 0.4vw;
		padding: 2vh 3vw;
		border-radius: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 25px;
		background-color: rgb(255, 251, 243);
		border: 1px solid rgba(35, 42, 41, 0.32);
		width: 100%;
		color: #465156;
		.information-div-main {
			display: flex;
			justify-content: space-around;
			width: 100%;
			gap: 20px;
			.product-info-div {
				text-align: center;
				width: 60%;
				gap: 10px;
				display: flex;
				flex-direction: column;
			}
			.seller-info-div {
				text-align: center;
				text-align: center;
				gap: 10px;
				width: 40%;
				display: flex;
				flex-direction: column;
			}
		}
		.price-tag {
			text-align: center;
			background-color: #fcd8d8;
			border: 1px solid #def68eb1;
			padding: 0.3rem 0.6rem;
			border-radius: 10px;
			font-size: calc(0.8vw + 0.6vh + 0.8vmin);
		}
	}

	.p-div {
		font-weight: 500;
		font-size: calc(0.6vw + 0.6vh + 0.8vmin);
		text-align: center;
		font-family: "Roboto Slab";
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0.3vh 0.5vw;
		gap: 10px;
		b {
			font-size: calc(0.6vw + 0.6vh + 0.8vmin);
			font-family: "Source Serif 4";
		}
	}
	.p-div-info {
		font-weight: 500;
		font-size: calc(0.6vw + 0.6vh + 0.8vmin);
		text-align: center;
		font-family: "Roboto Slab";
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 200px;
		gap: 2px;
		padding: 0.3vh 0.5vw;
		overflow: auto;
		b {
			font-size: calc(0.6vw + 0.6vh + 0.8vmin);
			font-family: "Source Serif 4";
		}
	}

	.h2-title-div {
		font-size: calc(0.8vw + 0.8vh + 0.8vmin);
		font-family: "Source Serif 4";
		font-weight: 500;
	}
	.user-mail-input{
		border: 2px solid rgb(251, 211, 157);
		font-size: calc(.6vw + .7vh + .8vmin);
		padding: .2vh .2vh;
		border-radius: 4px;
		width: 18vh;
		font-family: "Source Serif 4";
	}
}

.button-54 {
	max-width: 300px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	border: 2px solid rgb(233, 164, 164);
	background-color: #fdfaf5;
	padding: 0.5em 0.5em;
	box-shadow: rgb(241, 95, 95) 1px 0px 0px, rgb(241, 95, 95) 2px 2px 0px 0px,
		rgba(241, 95, 95, 0.698) 3px 3px 0px 0px,
		rgba(241, 95, 95, 0.535) 4px 4px 0px 0px,
		rgba(241, 95, 95, 0.685) 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	transition: all 0.6s;
	color: #2c372d;
	font-size: calc(1vw + 1vh + 1vmin);
	text-align: center;
	font-family: "Source Serif 4", sans-serif;
	&:hover {
		opacity: 0.7;
	}
}

.button-54:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}



@media (min-width: 768px) {
	.button-54 {
		padding: 0.25em 0.75em;
	}
}



.button-30 {
  align-items: center;
  appearance: none;
  background-color: #e4f1f9;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "Source Serif 4",monospace;
  height: 6vh;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: calc(.7vw + .7vh + .8vmin);
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 740px) {
	.main-display-page-product-div {
		flex-direction: column;
		top: 14vh;
	}
	.middle-div {
		width: 100vw;
	}
	.upper-div {
		width: 100vw;
	}
}
