.conatiner-for-sell-form {
	width: 100%;
	min-height: 130vh;
}
.main-sell-body {
	position: relative;
	top: 20vh;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}
.sellFrm {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.sell-form {
	width: 800px;
	height: 80vh;
	border-radius: 8px;
	padding: 30px 40px;
}

.sell-title {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c0aae76a;
	color: #7f637c;
	width: 100%;
	border-radius: 200px 0px 200px 0px;
	h1 {
		font-size: calc(1.3vh + 1.6vw + 1vmin);
		font-weight: 400;
		padding: 1.5rem;
		font-family: "Roboto", sans-serif;
	}
}

.div-input-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

.inputContainer {
	position: relative;
	height: 45px;
	margin-bottom: 17px;
}
.des-inputContainer {
	position: relative;
	height: 120px;
	width: 100%;
	margin-bottom: 17px;
	> textarea {
		resize: none;
		padding: 0.8rem;
		text-align: justify;
		font-family: "Roboto";
	}
}

.input::-webkit-scrollbar {
	display: none;
}

.input {
	font-family: "Roboto";
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border: 1px solid #dadce0;
	border-radius: 7px;
	font-size: 16px;
	padding: 0 20px;
	outline: none;
	background: none;
	z-index: 1;
}

/* Hide the placeholder texts (a) */

::placeholder {
	color: transparent;
}

.label-sell {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 0 4px;
	background-color: white;
	color: #b6b8bd;
	font-size: 16px;
	transition: 0.5s;
	z-index: 0;
	font-family: "Roboto";
}

.postsubmitBtn-after {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.5rem 0rem;
	padding: 15px 30px;
	border: none;
	background-color: purple;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	width: 100%;
}
.postsubmitBtn-after:hover {
	background-color: #9867c5;
}
.postsubmitBtn-after-upload {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.5rem 0rem;
	padding: 15px 30px;
	border: none;
	background-color: purple;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	width: 100%;
	position: relative;
	top: -75px;
}
.postsubmitBtn-after-upload:hover {
	background-color: #9867c5;
}

.input:focus + .label-sell {
	top: -7px;
	left: 3px;
	z-index: 10;
	font-size: 14px;
	font-weight: 600;
	color: rgb(0, 0, 0);
}

.input:not(:placeholder-shown) + .label-sell {
	top: -7px;
	left: 3px;
	z-index: 10;
	font-size: 14px;
	font-weight: 600;
	color: rgb(0, 0, 0);
}

/*  */

.file-btn {
	width: 100%;
	height: 180px;
	font-size: calc(1vw + 1vh + 1vmin);
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	color: #39739d;
	background-color: #fff;
	border: 1.5px dashed #39739d;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.file-btn:hover {
	transform: scale(1.02);
	color: #39739d;
	background-color: #fff;
}

.file-btn span {
	width: 50px;
	height: 50px;
	font-size: 30px;
	color: #39739d;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	background-color: #f1efff;
}

.file-card {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	color: #000;
	background-color: #fff;
	border: 1px solid rgba(117, 96, 255, 0.281);
	border-radius: 6px;
	padding: 30px 15px;
}

.file-card-upload {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	color: #000;
	background-color: #fff;
	border: 1px solid rgba(117, 96, 255, 0.281);
	border-radius: 6px;
	padding: 30px 15px;
	position: relative;
	top: -60px;
}

.file-info {
	flex: 1;
	display: flex;
	align-items: end;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}

.file-info h6 {
	flex: 1;
	font-size: 13px;
	font-weight: 400;
	font-family: "Roboto";
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.progress-bg {
	width: 100%;
	height: 5px;
	background-color: rgba(0, 0, 0, 0.076);
	border-radius: 6px;
	margin-top: 8px;
}

.progress {
	width: 0%;
	height: 5px;
	background-color: #39739d;
	border-radius: 8px;
	transition: width 0.5s ease;
}

.icon {
	font-size: 30px;
	color: #7460ff;
}

.close-icon {
	padding-top: 5px;
	font-size: 18px;
	cursor: pointer;
}

.file-info button,
.check-circle {
	aspect-ratio: 1/1;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	color: #463a99;
	background-color: #f1efff;
	border: none;
	border-radius: 30px;
}
