.main-signup-body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.next-main-extra-sign {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 8vh;
	position: relative;
}

.main-reset-body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.side-video {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video {
	border-radius: 100px;
	height: 60%;
	object-fit: cover;
	width: 54%;
	aspect-ratio: 1/1;
}
.resetFrm {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}
.signupFrm {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
}

.form {
	background-color: rgb(255, 255, 255);
	width: 460px;
	border-radius: 8px;
	padding: 1vw 2vw;
}

.title {
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: justify;
	margin: 30px 5px;
	font: bold 30px/35px "Mona Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}

.inputContainer {
	position: relative;
	height: 45px;
	width: 100%;
	margin-bottom: 17px;
}

.input {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border: 1px solid #dadce0;
	border-radius: 7px;
	font-size: 16px;
	padding: 0 20px;
	outline: none;
	background: none;
	z-index: 1;
}

/* Hide the placeholder texts (a) */

::placeholder {
	color: transparent;
}

.label {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 0 4px;
	background-color: rgb(255, 255, 255);
	color: #b7b9bd;
	font-size: 16px;
	transition: 0.5s;
	z-index: 0;
}

.submitBtn {
	display: block;
	margin-left: auto;
	width: 100%;
	padding: 15px 30px;
	border: none;
	background-color: #000000;
	color: rgb(255, 255, 255);
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 30px;
}

.submitBtn:hover {
	background-color: #373636;
	transform: translateY(-2px);
}

.input:focus + .label {
	top: -7px;
	left: 3px;
	z-index: 10;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
}

.input:focus {
	border: 1px solid #d2d2d27e;
	box-shadow: #ffffff7e 1px 2px 4px;
}

.input:not(:placeholder-shown) + .label {
	top: -7px;
	left: 3px;
	z-index: 10;
	font-size: 14px;
	font-weight: 600;
}

.sign-up-redirect {
	display: block;
	padding: 8% 0%;
	align-items: center;

	.link {
		color: #000000;
		text-decoration: underline;
		&:hover {
			opacity: 0.7;
		}
	}
}

.forgot-pass {
	position: absolute;
	right: 0;
	top: 110%;
	.for-title {
		color: #000000;
		text-decoration: underline;
		&:hover {
			opacity: 0.7;
		}
	}
}
.main-verification-div {
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: center;
}
.pop-code {
	position: relative;
	background-color: #fff;
	display: flex;
	align-items: center;
	padding: 1rem 2.5rem;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.254) 0px 7px 29px 0px;
}

.pop-title {
	font-size: 1.5rem;
	padding: 0.2rem 0rem 2.2rem 0rem;
	font-family: "Roboto Slab";
}

@media (max-width: 724px) {
	.main-signup-body{
		align-items: normal;
		
	}
	.next-main-extra-sign {
		align-items: normal;
		justify-content: center;
		.side-video {
			display: none;
		}
	}

	.main-reset-body {
		position: relative;
		top: 20vh;
		justify-content: space-between;
	}
}

@media (max-width: 465px)
{
	.form{
		width: 300px;
	}
}